<h4>Enter a url for the LinkChecker</h4>

<%= form_for @site do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>

<% end %> 
